<div class="databanner-content">
    <p>
        Wir nutzen Cookies und lokale Speicher, um die Navigation zu erleichtern und die Interaktivität unserer Plattform zu sichern. Weitere Informationen finden Sie in unserer 
        <a href="datenschutz.html">Datenschutzerklärung</a>.
    </p>
</div>
<div class="databanner-actions">
    <button class="btn btn-banner btn-light-outline" onclick="cookies(false)">Ablehnen</button>
    <button class="btn btn-banner btn-primary" onclick="cookies(true)">Zustimmen</button>
</div>
