<div class="container footer-container">
    <p class="footer-text">
        <span class="footer-copyright">Lizenziert unter <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.de" target="_blank" rel="noopener" class="footer-link" style="text-decoration: underline;">CC BY-NC 4.0</a>.</span>
        <span class="footer-spacer"></span>
        <a href="impressum.html" class="footer-link" id="linkImpressum">Impressum</a>
        <span class="footer-gap"></span>
        <a href="datenschutz.html" class="footer-link" id="linkDatenschutz">Datenschutz</a>
    </p>
</div>
